body.home header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: none;
}

header {
	padding: 32px 0 15px;
	box-shadow: 0px 5px 20px rgba(220, 220, 220, .25);

	.header-nav-bar {
		justify-content: space-between;
		align-items: center;
		position: relative;

		#logo {
			flex: 1;

			a {
				display: inline-block;
				color: @primary-blue;
			}
		}

		.nav-toggle {
			border: none;
			background: transparent;
			padding: 0;

			.burger-line {
				display: block;
				border-radius: 1.5px;
				width: 24px;
				height: 2px;
				margin-top: 3px;
				background: @footer-menu-blue;
				transition: all .25s;

				&:first-child {
					margin-top: 0;
				}
			}

			&.active {
				.burger-line {
					&:first-child {
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						opacity: 0;
						visibility: hidden;
					}

					&:last-child {
						transform: rotate(-45deg);
						margin-top: -7px;
					}
				}
			}
		}

		#header-main-menu {
			@media (min-width: 992px) {
				display: block;
			}

			@media (max-width: 991px) {
				position: absolute;
				top: 100%;
				right: 0;
				background: #fff;
				border-radius: 4px;
				box-shadow: 0px 0px 20px rgba(196, 196, 196, 0.35);
				z-index: 9999;
			}

			@media (max-width: 767px) {
				left: 0;
			}
		}

		.nav-main {
			padding: 0;
			margin: 0;
			list-style-type: none;

			@media (max-width: 991px) {
				flex-direction: column;
				padding: 20px;
			}

			> li.menu-item-has-children:hover {
				.nav-drop-cnt {
					transform: scale(1);
					opacity: 1;
					visibility: visible;
				}
			}

			> li {
				position: relative;
				margin: 0 23px;
				padding: 12px 0;

				@media (max-width: 991px) {
					margin: 0 0 24px;
					padding: 0;

					&:last-child {
						margin: 0;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					color: @primary-blue;
					position: relative;

					&::after {
						content: '';
						height: 3px;
						background: @primary-blue;
						border-radius: 3px;
						position: absolute;
						top: calc(100% + 3px);
						left: 0;
						right: 0;
						transition: .5s;
						transform: scaleX(0);
					}

					&:not([href="#"]):hover {
						&::after {
							transform: scaleX(1);
						}
					}
				}

				&.current-menu-item a::after,
				&.current-menu-ancestor > a::after {
					transform: scaleX(1);
				}

				.nav-drop-cnt {
					position: absolute;
					white-space: nowrap;
					left: 0;
					top: 100%;
					z-index: 1000;
					transition: .25s;
					transform: scale(.8);
					transform-origin: top left;
					opacity: 0;
					visibility: hidden;

					@media (max-width: 991px) {
						transform: scale(0);
					}

					.nav-drop {
						list-style-type: none;
						margin: 0;
						padding: 20px;
						background: #fff;
						border-radius: 4px;
						box-shadow: 0px 0px 20px rgba(196, 196, 196, .35);

						li {
							margin: 0 0 8px;

							&:last-child {
								margin: 0;
							}

							a {
								font-size: 16px;
								color: @primary-blue;
								line-height: 24px;
								letter-spacing: -0.025em;
							}

							&.current-menu-item a::after {
								transform: scale(1);
							}
						}
					}
				}
			}
		}
	}
}
