.single-product {
	.product-info {
		margin-top: 38px;

		.product-title {
			color: @primary-blue;
			letter-spacing: 0.04em;
			margin: 22px 0 32px;
		}

		.product-gallery {
			flex-basis: 55%;

			@media (max-width: 991px) {
				flex-basis: 100%;
			}
		}

		.product-thumb-cnt {
			img {
				display: block;
				margin: 0 auto;
				border-radius: 4px;

				@media (max-width: 991px) {
					margin: 0; 
				}
			}
		}

		.product-gallery-small {
			display: flex;
			margin-top: 32px;
			justify-content: center;

			@media (max-width: 991px) {
				justify-content: flex-start;
			}

			.img-container {
				cursor: pointer;
				width: 100px;
				height: 100px;
				margin: 0 16px;
				border-radius: 4px;

				&:first-child {
					@media (max-width: 991px) {
						margin-left: 0;
					}
				}

				&:last-child {
					@media (max-width: 991px) {
						margin-right: 0;
					}
				}

				@media (max-width: 767px) {
					width: 70px;
					height: 70px;
					margin: 0 7px;
				}

				@media (max-width: 480px) {
					width: 65px;
					height: 65px;
					margin: 0 5px;
				}

				&.active {
					border: 2px solid @primary-blue;
				}
			}
		}

		.product-content {
			flex: 1;
			padding-left: 50px;

			@media (max-width: 991px) {
				padding-left: 0;
				margin-top: 25px;
			}

			.product-description {
				color: @primary-blue;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.04em;
				margin: 0 0 46px;
			}

			.product-features-title {
				font-size: 32px;
				letter-spacing: 0.02em;
				color: @primary-blue;
				margin: 0 0 28px;
			}

			.product-features {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					display: flex;
					align-items: center;
					font-size: 16px;
					line-height: 18px;
					color: @primary-blue;
					margin: 0 0 22px;

					&:last-child {
						margin: 0;
					}

					img {
						margin-right: 24px;
					}
				}
			}

			.wtb-button {
				margin-top: 100px;

				@media (max-width: 991px) {
					margin-top: 32px; 
				}
			}
		}
	}

	.info-tabs {
		width: 824px;
		margin: 80px auto 0;

		@media (max-width: 991px) {
			width: 100%;
			margin: 40px auto 0;
		}

		ul, li.active {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				height: 4px;
				border-radius: 4px;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 0;
			list-style-type: none;

			&::after {
				z-index: 10;
				background-color: @tabs-border-color;
			}

			li {
				width: 100%;
				padding: 0 0 20px;

				a {
					display: block;
					font-size: 24px;
					line-height: 28px;
					letter-spacing: 0.02em;
					color: @primary-blue;

					@media (max-width: 767px) {
						font-size: 16px;
						line-height: 22px;
					}
				}

				&.active::after {
					z-index: 20;
					background-color: @primary-blue;
				}
			}
		}

		.tab-content {
			color: @primary-blue;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.04em;
			margin-top: 36px;
			padding: 0 70px;

			@media (max-width: 991px) {
				padding: 0 30px;
			}

			@media (max-width: 767px) {
				padding: 0 15px;
			}
		}
	}

	.how-it-works {
		margin-top: 80px;

		@media (max-width: 991px) {
			margin-top: 60px;
		}

		@media (max-width: 767px) {
			margin-top: 40px;
		}

		.flex-container {
			justify-content: center;

			.hiw-step {
				width: 200px;
				margin: 0 30px;

				@media (max-width: 767px) {
					width: auto;
					flex: 1;
					margin: 0 10px;
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				img {
					display: block;
				}

				.step-text {
					font-size: 24px;
					color: @bg-light-blue;
					margin: 24px 0 0;

					@media (max-width: 767px) {
						font-size: 18px;
						margin: 10px 0 0;
					}
				}
			}
		}
	}

	.faqs {
		margin-top: 120px;

		@media (max-width: 767px) {
			margin-top: 60px;
		}
	}

	.product-full-width-image {
		margin: 74px 0 0;
		height: 530px;

		@media (max-width: 767px) {
			display: none;
		}
	}

	.other-products {
		margin: 75px 0 120px;

		@media (max-width: 767px) {
			margin: 40px 0;
		}

		.other-products-list {
			justify-content: center;

			@media (max-width: 1199px) {
				justify-content: space-between;
			}

			.product-list-item {
				position: relative;
				display: block;
				width: 250px;
				margin: 0 20px;
				overflow: hidden;

				@media (max-width: 1199px) {
					width: auto;
					flex-basis: calc(25% - 15px);
					margin: 0;
				}

				@media (max-width: 767px) {
					width: auto;
					flex-basis: calc(50% - 15px);
					margin: 0 0 30px 0;
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					img {
						transform: translateX(-100%);

						&.hover-state {
							transform: translateX(0);
						}
					}
				}

				img {
					margin: 0 auto 30px;
					transition: .25s;

					@media (max-width: 767px) {
						margin: 0 auto 15px;
					}

					&.hover-state {
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						margin: 0 auto;
						transform: translateX(100%);
					}
				}

				span {
					font-size: 16px;
					color: @primary-blue;
				}
			}
		}
	}
}
